<header class="header">
    <div class="header__contenedor">
        <div class="header__logo">
            <img src="../../../assets/img/logo.png" alt="" class="header__imagen">
        </div>
        <nav class="navegacion">
            <a routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" class="navegacion__link">Home</a>
            <a routerLink="about" routerLinkActive="active"  class="navegacion__link">About</a>
            <a href="/" class="navegacion__link">Gallery</a>
            <a href="/" class="navegacion__link">Menu</a>
            <a href="/" class="navegacion__link">Contact</a>
            <a href="/" class="navegacion__link">Reservation</a>
        </nav>
    </div>
</header>