<section class="about">
    <div class="about__contenedor">
        <h2 class="about__heading">About Us</h2>
        <div class="about__grid">
            <div class="about__contenido">
                <h3 class="about__titulo">We Leave A Delicious Memory For You</h3>
                <p class="about__texto">Welcome to "Italian Fine Diner," a culinary experience that transports you to
                    the heart of Italy. Our expert chefs prepare each dish with high-quality ingredients. </p>
                <p class="about__texto">With select Italian wines, each bite is an adventure for your senses. you'll
                    take away a delicious memory
                    that will last over time.</p>
                <div class="about__thumb">
                    <img src="../../../assets/img/thumb/about-thumb-01.jpg" alt="Img thumb" class="about__imagen">
                    <img src="../../../assets/img/thumb/about-thumb-02.jpg" alt="Img thumb" class="about__imagen">
                    <img src="../../../assets/img/thumb/about-thumb-03.jpg" alt="Img thumb" class="about__imagen">
                </div>
            </div>
            <img src="../../../assets/img/about.jpg" alt="About photo" class="about__photo">
        </div>
    </div>
</section>