<section class="gallery gallery__contenedor">
    <h2 class="gallery__heading">live the experience</h2>
    <div class="gallery__grid">
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_01.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_02.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_03.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_04.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_10.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_06.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_07.jpg" alt="galeria">
        </div>
        <div class="gallery__imagen">
            <img src="../../../assets/img/gallery/galeria_09.jpg" alt="galeria">
        </div>
    </div>
</section>