<section class="menu">
    <div class="menu__contenedor">
        <h2 class="menu__heading">Menu</h2>
        <div class="menu__grid">
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-01.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Fresh Chicken Salad</h3>
                    <p class="menu__descripcion">Fresh chicken, crispy vegetables and a light dressing. Ideal for a quick and healthy lunch.</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-02.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Orange Juice</h3>
                    <p class="menu__descripcion">Freshly squeezed oranges packed with Vitamin C. Refreshing and invigorating.</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-03.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Fruit Salad</h3>
                    <p class="menu__descripcion">A colorful medley of fresh fruits, offering a burst of flavors and nutrients. The perfect healthy treat.</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-04.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Eggs Omelette
                    </h3>
                    <p class="menu__descripcion">Fluffy eggs folded over your choice of fillings. A satisfying, protein-packed start to your day.</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-05.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Dollma Pire</h3>
                    <p class="menu__descripcion">Layers of grape leaves stuffed with rice, pine nuts, and aromatic herbs. A Mediterranean delight that's both hearty and flavorful.</p>
                </div>
            </div>
            <div class="menu__item">
                <div class="menu__plato">
                    <img class="menu__imagen-plato" src="../../../assets/img/menu/tab-item-06.png" alt="menu plato">
                </div>
                <div class="menu__contenido">
                    <h3 class="menu__nombre">Fresh Chicken Salad</h3>
                    <p class="menu__descripcion">Grilled chicken atop crisp greens, paired with a light dressing. A lean, protein-filled meal.</p>
                </div>
            </div>
        </div>
        <h3 class="menu__precio">All for the price of <span class="menu__valor">39.5€</span> per person.</h3>
    </div>
</section>