<footer class="footer">
    <div class="footer__grid">
        <div class="redes">
            <ul class="redes__icons">
                <li class="redes__items">
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li class="redes__items">
                    <i class="fa-brands fa-x-twitter"></i>
                </li>
                <li class="redes__items">
                    <i class="fa-brands fa-instagram"></i>
                </li>
            </ul>
        </div>

        <div class="footer__logo">
            <img src="./assets/img/logo.png" alt="" class="footer__imagen">
        </div>
        <div class="footer__copyright">
            <p class="footer__texto">&copy; Copyright <span class="footer__nombre">Italian Fine Diner</span></p>
            <p class="footer__autor">Design: <a href="https://dmarmijosa.github.io/portafolio-web"
                    class="footer__enlace">Danny Armijos</a></p>
        </div>
    </div>

</footer>